:root{
  --basic-red:#ee3643;
  --basic-green:#63a63e;
  --basic-grey:#3d546f;
  --basic-greylight:#c5c5c5;
  --basic-background:#f1f5f7;
  --white:#ffffff;
  --special-yellow:#ffbf47;
  --special-blue:#3bbce3;
  --special-liliac:#dc91d8;
  --special-greenlight:#8ed78f;
  --special-yellowlight:#ffd180;
  --success:#5fbb2d;
  --warning:#ffbf47;
  --error:#ba2732;
}


.body-page{
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
}

p{
  margin: 0;
}

footer{
  background-color: var(--basic-greylight);
}

.page{
  height: 100%;
}

.body-header{
  display: flex;
  flex-direction: row;
  padding: 0 130px 0 130px;
  height: 42px;
  background-color: var(--basic-grey);
  box-sizing: border-box;
}

.main-header{
  height: 320px;
  background-color: var(--basic-background);
}

.size-block{
  width: 940px;
}

.header-item-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-item-btn a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.header-item-btn img{
  margin-bottom: 4px;
}

.header-left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  width: 490px;
  height: 42px;
}

.header-item-logo{
  margin-right: 17px;
  padding: 12px 56px;
  background: #EE3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-item-find{
  display: flex;
  justify-content: flex-start;
  width: 270px;
  height: 42px;
}

.header-item-find input{
  border: 0;
  height: 24px;
  color: var(--white);
  padding: 0;
  border: 0;
  background-color: var(--basic-grey);
}

.header-item-find:focus{
  background: var(--white);
}

.header-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
  width: 450px;
  height: 42px;
}

.header-item-favorite{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 42px;
}

.header-item-cart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 42px;
  background: var(--basic-red);
}

.header-item-cart-empty{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 42px;
  background:var(--basic-grey);
}

.header-item-order{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 42px;
  background-color: var(--basic-green);
}

.header-item-icon{
  mix-blend-mode: normal;
  opacity: 0.3;
}

.icon-search{
  display: block;
  margin-right: 8px;
}

.icon-favorite{
  display: block;
  margin-right: 9px;
}

.icon-cart{
  display: block;
  margin-right: 8px;
}

.header-item-btn:hover img{
  mix-blend-mode: normal;
  opacity: 1;
}

.header-item-favorite:active{
  background: #161D29;
}

.header-item-favorite:active a{
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header-item-favorite:active img{
  mix-blend-mode: normal;
  opacity: 0.3;
}

.header-item-cart-empty:active{
  background: #161D29;
}

.header-item-cart-empty:active a{
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header-item-cart-empty:active img{
  mix-blend-mode: normal;
  opacity: 0.3;
}

.header-item-cart:active{
  background: #161D29;
}

.header-item-cart:active a{
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header-item-cart:active img{
  mix-blend-mode: normal;
  opacity: 0.3;
}

.header-item-cart:active{
  background: #161D29;
}

.header-item-cart:active a{
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header-item-cart:active img{
  mix-blend-mode: normal;
  opacity: 0.3;
}

.header-item-order:hover{
  background: var(--success)
}

.header-item-order:active{
  background: var(--basic-green);
}

.header-item-order:active a{
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header-item-order:active img{
  mix-blend-mode: normal;
  opacity: 0.3;
}

.under-header{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  width: 940px;
  height: 71px;
  margin: 38px 130px 40px 130px;
}

.main-header-text{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  height: 71px;
  width: 197px;

  font-family: Cuprum;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  box-sizing: border-box;
}

.contacts{
  height: 72px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.contacts h2{
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.contact-info{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 32px;
}

.contact img{
  margin-bottom: 25px;
}

.icon-phone{
  margin-right: 16px;
}

.contacts-phone{
  border: 3px solid var(--white);
  padding: 4px 47px 5px 36px;
  box-sizing: border-box;
}

.contacts a{
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.contacts-addres{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.5px;

  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.contacts-addres p{
  margin: 0;
}

.main-header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
  box-sizing: border-box;
}

.main-header-buttons a{
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: black;
}

.under-login-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 7px 0 0 0;
  padding: 0;
}

.under-login-list a{
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color:#32425C;
}

.under-login-list img{
  margin-bottom: 2px;
}

.under-login-list:first-child{
  margin-left: 30px;
}

.under-login-list:last-child{
  margin-right: 30px;
}

.icon-login{
  display: block;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 121px;
  height: 45px;
  margin-right: 10px;
  background-color: var(--white);
}

.login a{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.login img{
  margin-right: 6px;
}

.login:hover a{
  color: var(--basic-red);
}

.login:active a{
  color: var(--basic-greylight);
}

.registration{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  background-color: var(--white);
}

.registration:hover a{
  color: var(--basic-red);
}

.registration:active a{
  color: var(--basic-greylight);
}

.login-info{
  width: 299px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
}

.login-avatar{
  padding: 5px 0 0 10px;
}

.login-out{
  padding-top: 7px;
  padding-right: 10px;
}

.login-info p{
  font-family: Cuprum;
  font-style:normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.category{
  display: flex;
  flex-direction: column;
  width: 940px;
  height: 409px;
  margin-top: 59px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 59px;
}

.up-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width: 300px;
  height: 123px;
  box-sizing: border-box;
  margin-right: 0;
}

.card-name{
  display: flex;
  flex-direction:column;
  box-sizing: border-box;
}

.card-name h3{
  display:flex;
  padding: 20px 0 0 23px;
  margin: 0 0 14px 0;

  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.card-img{
  display:flex;
  align-items:center;
  box-sizing: border-box;
  margin-right:30px;
}

.material{
  background-color: var(--special-yellow);
}

.tool{
  background-color: var(--special-blue);
}

.technic{
  background-color: var(--special-liliac);
  margin-right: 0;
}

.down-list{
  display: flex;
  flex-direction: row;
}

.right-side{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sales{
  margin-top: 20px;
  background-color: var(--special-greenlight);
}

.delivery{
  margin-top: 20px;
  background-color: var(--special-yellowlight);
}

.a-block{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
  margin-left: 23px;
  background:rgba(255, 255, 255, 0.3);
}

.a-block a{
  color: var(--white);
}

.a-block:hover{
  background: rgba(197, 197, 197, 0.3);
}

.a-block:active{
  background: rgba(169, 169, 169, 0.3);
}


.card-big{
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
}

.card-big h3{
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 23px 0 0 24px;
}

.card-big p{
  margin:5px 0 0 24px;
}

.texts{
  position: absolute;
  margin:0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 620px;
  height: 104px;
  background: rgba(0, 0, 0, 0.25);
}

.card-middle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 34px;
}

.card-middle button{
  background:none;
  border: none;
  padding: 0;
}

.left-arrow{
  margin-left: 24px;
  margin-right: 532px;
}

.card-bottom a{
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 11px 46px 9px 46px;
  margin: 39px 0 0 24px;

  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background: var(--basic-red);
}

.card-bottom a:hover{
  background: #CA2C37;
}

.card-bottom a:active{
  background: #BA2732;
}

.hammerDrill-hidden{
  display: none;
}

.Drill-hidden{
  display: none;
}

.main-catalog{
  margin-top: 21px;
}

.main-navigation{
  width: 940px;
  height: 60px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 60px;
}

.main-navigation-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  background: #32425C;
  box-shadow: inset 0px -5px 0px #293449;
  box-sizing: border-box;
  padding: 0;
}

.main-navigation-list li{
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-navigation-list a{
  color: var(--white);
}

.main-navigation-list li:hover{
  background: #293449;
}

.main-navigation-item a:active{
  opacity: 0.5;
}

.main-navigation-list li:active{
  background: #1D2739;
}

.catalog{
  min-height: 700px;
}

.two-column{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 130px;
  margin-right: 130px;
}

.first-column{
  margin-right: 20px;
}

.catalog-popular{
  width: 940px;
  height: 427px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 70px;
}

.catalog-list{
  margin: 20px 0 0;
  padding: 0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-item-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popular-item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  min-width: 220px;
  height: 318px;
  background-color: var(--white);
  border: 1px solid #eaeaea;
  overflow: hidden;
}

.new-banner{
  position: absolute;
  margin-bottom: 243px;
  margin-left: 150px;
}

.image-item{
  display: flex;
  align-items: center;
  height: 184px;
}

.image-item-hidden{
  display: none;
}

.popular-item h3{
  margin-top:8px;
  margin-bottom: 6px;
  width: 185px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.last-price{
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;

  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #A9A9A9;
}

.buy-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 38px;
  background-image: url("/img/main/button.png");
  background-repeat: no-repeat;
  margin-top: 13px;
  margin-bottom: 21px;
}

.buy-button a{
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #FFFFFF;
}

.box-button{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #EE3643;
}

.popular-item:hover{
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.menu-item{
  height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item-hidden{
  display: none;
}

.menu-item a{
  width: 135px;
  height: 38px;
  margin-bottom: 10px;
}

.menu-item a:last-child{
  margin-bottom: 0;
}

.catalog-buy{
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  border: 0;
  background: #63A63E;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.catalog-buy:hover{
  background: #5fbb2d;
}

.catalog-buy:active{
  background: #518534;
}

.cart-icon{
  mix-blend-mode: normal;
  opacity: 0.3;
  margin-right: 9px;
}

.favorite-add{
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;

  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  background: var(--white);
  color: #32425C;

  border: 3px solid #63A63E;
  box-sizing: border-box;
  border-radius: 2px;
}

.favorite-add:hover{
  border-color: #32425c;
}

.favorite-add:active{
  opacity: 0.5;
}

.continue-button{
  color: #000000;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: var(--white);
}

.filter-vertical{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000000;
}

.filter-horizontal{
  display: flex;
  align-items: center;
  background: #F7F3EC;
  width: 700px;
  height: 38px;
}

.filter-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 664px;
  margin: 0 17px 0 19px;
  padding:0;

}

.filter-list li{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-name{
  margin-right: 140px;
  color: #000000;
}

.filter-on a{
  color:var(--basic-red);
}

.filter-off a{
  mix-blend-mode: normal;
  opacity: 0.3;
}

.block{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 220px;
  height: 38px;
  background: #F7F3EC;
  margin-bottom: 14px;
}

.block h4{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  margin-left: 18px;
}

.filter-form{
  width: 220px;
  display: flex;
  flex-direction: column;
}

.filter-form legend{
  display: flex;
  align-items: center;
  text-transform: uppercase;

  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
}

.filter-form fieldset{
  border: none;
}

.pages{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin:48px 0 59px 0;
  color: #000000;
}

.page-item{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  min-height: 38px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 10px;
}

.page-item:last-child{
  width: 140px;
}

.page-item a{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.page-active{
  color: var(--white);
  background: var(--basic-red);
}

.company{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000000;
  margin:70px 130px 70px 130px;
}

.about-partners{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-partners h2{
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about-partners p{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.partners-item{
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.partners-item img{
  margin-right: 12px;
}

.partners-item .last{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.filter li{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

legend{
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.price-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.price-input input{
  text-align: center;
  border: 0;
  padding: 0;
  width: 95px;
  height: 38px;
  background: #F7F3EC;
  opacity: 0.95;
}

.mid-line{
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.developers-list{
  margin: 0;
  padding: 0;
}


.energy-list{
  margin: 0;
  padding: 0;
}

.catalog-developer{
  min-width: 940px;
  height: 419px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 70px;
}

.catalog-developer-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  margin-top: 20px;
}

.catalog-developer-item:hover{
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.catalog-developer-item:active{
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  opacity: 0.5;
}

.banner{
  min-width: 940px;
  height: 89px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  background-color: #f9f5f0;
}

.LR-margin{
  margin-left: 130px;
  margin-right: 130px;
}

.left-position h2{
  height: 30px;
  margin: 0;
  text-transform: uppercase;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425C;

  padding: 29px 0px 30px 28px;
}

.left-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
  background-color: var(--basic-red);
}

.left-btn a{
  text-transform: uppercase;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

.right-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 38px;
  background-color: var(--basic-red);
}

.right-btn a{
  text-transform: uppercase;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

.banner-button{
  width: 192px;
  height: 38px;
}

.big-red-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 38px;
  background: var(--basic-red);
  margin-right: 14px;
}

.big-red-button a{
  text-transform: uppercase;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

.catalog-developer-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
}

.container li{
  display: inline;
  padding-right: 17px;
}

.breadcrumb{
  margin-left: 130px;
  margin-right: 130px;
}

.breadcrumb-list{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.breadcrumb-list li{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  margin-right: 15px;
}

.breadcrumb-list a{
  color: #000000;
}

.cabinet li{
  display: inline;
  color: #32425C;
}

.cabinet li.name{
  color: #000000;
}

.cabinet ul.border{
  background: var(--white);
}

.features{
  height: 522px;
  padding: 0 130px 0 130px;
  color: #000000;
  background-color: var(--basic-background);
}

.feature:hover{
  background: #293449;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.catalog-features{
  height: 261px;
}

.catalog-features h2{
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 64px;
  padding-bottom: 25px;
  margin:0;
}

.catalog-features p{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.features-main{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.features-main h2{
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  margin-top: 64px;
  margin-bottom: 25px;
}

.features-main p{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.lists{
  display: flex;
  flex-direction: row;
}

.features-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top:37px;
}

.feature{
  display: flex;
  align-items: center;
  width: 240px;
  height: 61px;
  background: #32425C;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  color: var(--white);
}

.feature:first-child{
  box-shadow: none;
}

.feature:last-child{
  box-shadow: inset 0px 1px 0px #405069;
}

.feature p{
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  padding-left: 22px;
}

.about-card{
  display: flex;
  flex-direction: row;
  margin-left: 80px;
}

.features-addition-list{
  margin-top:37px;
}

.features-name h2{
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #32425C;
  margin-top: 0;
  margin-bottom: 30px;
}

.features-name p{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #000000;
  width: 300px;
  height: 99px;
}

.delivery-show{
  display: flex;
  color:#32425c;
  background: var(--white);
}

.delivery-show:hover{
  display: flex;
  color:#32425c;
  background: var(--white);
}

.delivery:active{
  display: flex;
  color:#32425c;
  background: var(--white);
}

.guarante-show{
  display: flex;
  color:#32425c;
  background: var(--white);
}

.guarante-show:hover{
  display: flex;
  color:#32425c;
  background: var(--white);
}

.guarante:active{
  display: flex;
  color:#32425c;
  background: var(--white);
}

.credit-show{
  display: flex;
  color:#32425c;
  background: var(--white);
}

.credit-show:hover{
  display: flex;
  color:#32425c;
  background: var(--white);
}

.credit:active{
  display: flex;
  color:#32425c;
  background: var(--white);
}

.features-delivery-hidden{
  display: none;
}

.features-guarante-hidden{
  display: none;
}

.features-credit-hidden{
  display: none;
}

footer{
  background-color: var(--basic-grey);
  height: 300px;
  min-width: 1200px;
}

.first-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #32425c;

  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  padding-left: 130px;
  padding-right: 130px;
}

.first-line{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 68px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.navigation-list-white{
  width: 546px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.navigation-list-white li{
  display: flex;
}

.navigation-list-white a{
  color: var(--basic-background);
}

.navigation-list-white li:hover{
  text-decoration: underline;
}

.navigation-list-white li:active{
  text-decoration: none;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.second-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second-line h4{
  margin-top: 22px;
  margin-bottom: 54px;
}

.navigation-list-yellow{
  margin:0;
  width: 524px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 38px;
}

.navigation-list-yellow a{
  color: var(--special-yellowlight);
}

.navigation-list-yellow li:hover{
  text-decoration: underline;
}

.navigation-list-yellow li:active{
  text-decoration: none;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.second-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 107px;
  padding-left: 130px;
  padding-right: 130px;

  background-color: #293449;
}

.social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:0;
  padding: 0;
}

.social-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: linear-gradient(0deg, #212A3A, #212A3A);
}

.social-item a{
  margin: 0;
  padding: 0;
}

.social-item img{
  display: block;
}

.social-item:hover{
  background: var(--basic-red);
}

.developer-list{
  display: flex;
  flex-direction: row;
  color: var(--white);

  margin: 0;
  padding: 0;
}

.developer-list a{
  color: var(--special-yellowlight)
}

.developer-list a:hover{
  text-decoration: underline;
}

.developer-list a:active{
  text-decoration: none;
  color: var(--basic-red);
}


.feedback{
  margin-right: 51px;
}

.modal-hidden{
  display: none;
}

.modal-show{
  display: flex;
}

.modal-feedback{
  width: 620px;
  height: 430px;
  left: 282px;
  top: 2369px;
}

.modal-feedback label{
  color: #000000;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.modal-feedback input{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #A9A9A9;
  border: 2px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
  background: #FFFFFF;
}

.modal-succes{
  color: #000000;
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.shadow-block{
  position: absolute;
  margin-left: 230px;
  width: 10px;
  height: 279px;
  background-image: url("/img/main/shadow.svg");
  background-repeat: no-repeat;
}
